
/**
 * IMAGE PAGE
 */

.photo-description{
	padding-bottom:5em;
}

.photo-description h2{
	font-size: 2em;
}

img {
	/* max-height: 90vh; */
}

.description-columns p:first-child{
	font-size:1.25em;
	font-weight: lighter;
	line-height: 1.4em;
}

.description-columns p{
	margin: 0em 0 1em 0;
	line-height: 1.4em;
	font-weight: lighter;
}

.description-columns{
	/* Number of Columns */
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;

	/* Gutters between columns */
	-moz-column-gap: 2em; /* Firefox */
	-webkit-column-gap: 2em; /* Safari and Chrome */
	column-gap: 2em;
}


.content-sub-controls {
  h3 {
    text-align: center;
    display: block;
    font-size: 2em;
    color: #aaa;
    font-weight: lighter;
    margin: 0em 0 .15em 0;
  }

  display: inline-block;
  font-size: rem-calc(12px);
  float: right;
  text-align: center;
  min-width: 250px;
  margin-top: .5em;
}


.album-image .photo-details,
.stream-item .photo-details,
.photo-details {
  @extend .normal-10-medium-gray;
}

ul.image-details{
	list-style-type: none;
	padding: 0 0 0 2em;
	margin: 0em;
}

.content-body .navigation{
	padding: .25em .5em;
	font-size: 14px;
}