@font-face {
  font-famly: 'Helvetica Neue';
  font-weight: normal;
}



@mixin sans-regular {
  font-family: 'Helvetica Neue';
  line-height: normal;
}


.normal-12-black {
  @include sans-regular;
  color: $black;
  font-size: 12px;
}


.normal-10-medium-gray {
  @include sans-regular;
  color: $medium-gray;
  font-size: 12px;
}