<koken:head>
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:title" content="{{ content.title | content.filename strip_html="true" }}" />
	<meta property="og:description" content="{{ content.caption strip_html="true" }}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{ content.presets.medium.url }}" />
	<koken:content_image>
		<koken:not empty="profile.twitter">
			<meta name="twitter:card" content="photo" />
			<meta name="twitter:site" content="@{{ profile.twitter }}" />
			<meta name="twitter:creator" content="@{{ profile.twitter }}" />
			<meta name="twitter:title" content="{{ content.title|content.filename strip_html="true" }}" />
			<meta name="twitter:description" content="{{ content.caption strip_html="true" }}" />
			<meta name="twitter:image" content="{{ content.presets.medium.url }}" />
			<meta name="twitter:image:width" content="{{ content.presets.medium.width }}" />
			<meta name="twitter:image:height" content="{{ content.presets.medium.height }}" />
		</koken:not>
	</koken:content_image>
</koken:head>